{% extends "base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="body-container text-center" style="padding-top: 20px;">
	<div class="container text-center">
		<div class="col-xl contact-block">
				<div class="jumbotron vertical-center" style="text-align: left">
						  <div class="section-title">
							<h2 style="font-family: Poppins, sans-serif; color: #D0D0D0;text-align:left">Blog Post</h2>
							<p style="text-align:left">{{ post.title }}</p>
						  </div>
						{% if messages %}
						  {% for message in messages %}
							 <h2{% if message.tags %} class="" {% endif %}>{{ message }}</h2>
						  {% endfor %}
						{% endif %}
						<!-- Author -->
						<p class="lead" style="color: #007cff">
							by
							<a href="#" style="color: #888">{{ post.author }}</a>
						</p>

						<hr>

						<!-- Date/Time -->
						<p style="color: #fff">Posted on {{ post.publish }}</p>

						<hr>

						<!-- Preview Image -->
						{% if post.post_image %}
						<img class="img-fluid rounded" src="{{ post.post_image.url }}" alt="post image" width="900" height="300">
                        {% else %}
						
					    <img class="img-fluid rounded" src="" alt="post image" width="900" height="300">
						
						{% endif %}
						<hr>

						<!-- Post Content -->
						<p class="blog-body-text">{{ post.body }}</p>

						<hr>
						<p>
							<a href="{% url "blog:post_share" post.id %}">
								Share this Post
							</a>
						</p>
						<hr>
						<h2 style="font-weight: 700">Similar posts</h2>
						{% for post in similar_posts %}
							<p>
								<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
							</p>
						{% empty %}
							There are no similar posts yet.
						{% endfor %}
						{% with comments.count as total_comments %}
							<h2 style="font-weight: 700">
								{{ total_comments }} comment{{ total_comments|pluralize }}
							</h2>
						{% endwith %}
						{% for comment in comments %}
							<div class="comment" style="word-break: break-all">
								<p class="info">
									Comment {{ forloop.counter }} by {{ comment.name }}
									{{ comment.created }}
								</p>
                                
								{{ comment.comment|linebreaks }}

								<div><h2 style="color: #05dcff">______ </h2></div>
							</div>
						{% empty %}
							<p>There are no comments yet.</p>
						{% endfor %}

						<!--{% if new_comment %}
							<h2>Your comment has been added.</h2>
						{% else %}-->
							<!-- Comments Form -->
							<div class="card my-4 info-box" style="background-color: rgba(255, 255, 255, 0.08)">
								<p style="font-family: Poppins, sans-serif;font-size: 36px;text-align: left;padding-left: 4px">Leave a Comment <i class="fa fa-comment"></i></p>
								<div class="card-body">
									<form method="post" style="display: grid">
										<div class="form-group">
											{{ comment_form.as_p }}
											{% csrf_token %}
										</div>
								    <div style="position: relative;text-align: center !important;">
									 <button class="btn-ho effect01" type="submit" style="padding-left: 4px;padding-right: 4px;">Add Comment</button>		
									</div>
									</form>
								</div>
							</div>
						{% endif %}
			    </div>
	    </div>
    </div>
</div>	
{% endblock %}

{% block widgets %}
{% include "widgets.html" %}
{% endblock %}