
{% load i18n %}
<footer class="py-4 footer-style">
  <div class="container">
  {% block footer %}
	<div class="row">
		<div class="col-md-10 col-lg-8 mx-auto">

            <ul class="list-inline text-center social-icons">
			  <li><a class="instagram" href="https://www.instagram.com/anitafrancu333/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 24px;"></i></a></li>
              <li><a class="facebook" href="https://www.facebook.com/AnitaFrancu333" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="mailto" href="mailto:valeriu.hudea@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>   
            </ul>
			<p class="m-0 text-center text-dark">Copyright &copy;<a href="/" class="copyright-name"><strong> Anita Francu</strong></a> 2020. All Rights Reserved.
			</p>
		</div>

	  <!--div class="col-md-4 col-sm-6 col-xs-12">
		<ul class="social-icons">
		  <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
		  <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
		  <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
		  <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
		</ul>
	  </div-->
	</div>
  </div>
  {% endblock %}
</footer>